* {
    font-family: "Poppins", sans-serif;
}

.container-fluid {
    width: 80%;
}

.carousel-inner {
    height: 30rem;
    object-fit: cover;
}

.carousel-inner img {
    height: 30rem;
    object-fit: cover;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

figure:hover {
    margin-bottom: 10px;
    margin-top: -10px;
    cursor: pointer;
    transition: all 1s ease;
}
